.form-size{
    width:100%;
    max-width:430px;
    padding:15px;
    height: 100%;
    margin:auto;
}

.contain {
    text-align: center;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin:auto;
    max-width: 400px;
    margin-top: 100px;
  }