#img-presentation{
    width: 52em;
    height: 30em;
    margin:auto;
}

.formRoomDetail{
    background-color:#c0f1d9;
    padding: 1em;  
    width: 76em;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    margin:auto;
}

#btn-react{
    width: 150px;
    margin:1em;
  }

.first-part {
    display: flex;
    flex-direction: row;
}

.first-part div h3{
    margin-top: 2em;
}

.location-text{
    margin-top: 1em;
    font-size: 15px;
}

.description-text{
    font-size: 15px;
    background-color: #c0f1d9;
    z-index: 2;
}

h4 {
    margin-top: 2em;
    text-align: left;
    margin: 20em;
}

.message-title{
    margin-bottom: 2em;
}
.google-map{
    margin-top: 1em;
    width:74em;
    height: 22em;
}

@media screen and (max-width: 768px){
    #img-presentation{
        width: 20em;
        height: 15em;
    }
    .google-map{
        width: 20em;
        height: 15em;
        margin: auto;
    }
    .message-title{
        
        width: 25em;
    }
    .first-part{
        display: flex;
    flex-direction: column;
    }
    .formRoomDetail{
        width: 25em;
    }

    
}